mule-api-test/target/classes/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration">
        <http:worker-threading-profile poolExhaustedAction="WAIT"/>
    </http:listener-config>
    <http:request-config name="HTTP_Request_Last_FM_API" host="ws.audioscrobbler.com" port="80" basePath="2.0" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_API_Layer" host="apilayer.net" port="80" basePath="/api" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_TheMovieDB_API" host="api.themoviedb.org" port="80" basePath="3/movie/popular" doc:name="HTTP Request Configuration"/>
    
    <flow name="last.fm-api-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/last.fm-api" doc:name="HTTP"/>
        <logger message="==== START: Last.FM API ====" level="INFO" doc:name="START"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.track  != null]">
                <http:request config-ref="HTTP_Request_Last_FM_API" path="/" method="GET" doc:name="Request - Track">
                    <http:request-builder>
                        <http:query-param paramName="method" value="${last.fm.track.method}"/>
                        <http:query-param paramName="api_key" value="${last.fm.api.key}"/>
                        <http:query-param paramName="artist" value="#[message.inboundProperties.'http.query.params'.artist]"/>
                        <http:query-param paramName="track" value="#[message.inboundProperties.'http.query.params'.track]"/>
                    </http:request-builder>
                </http:request>
            </when>
            <otherwise>
                <http:request config-ref="HTTP_Request_Last_FM_API" path="/" method="GET" doc:name="Request - Artist">
                    <http:request-builder>
                        <http:query-param paramName="method" value="${last.fm.artist.method}"/>
                        <http:query-param paramName="api_key" value="${last.fm.api.key}"/>
                        <http:query-param paramName="artist" value="#[message.inboundProperties.'http.query.params'.artist]"/>
                    </http:request-builder>
                </http:request>
            </otherwise>
        </choice>
        <logger message="==== END: Last.FM API ====" level="INFO" doc:name="END"/>
        <exception-strategy ref="apiCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="apilayer-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/apilayer" doc:name="HTTP"/>
        <logger message="==== START: Coin API ====" level="INFO" doc:name="START"/>
        <set-variable variableName="startDate" value="#[message.inboundProperties.'http.query.params'.start_date]" doc:name="Gets start_date param"/>
        <set-variable variableName="endDate" value="#[message.inboundProperties.'http.query.params'.end_date]" doc:name="Gets end_date param"/>
        <enricher target="#[flowVars.startDateResponse]" doc:name="Message Enricher">
            <http:request config-ref="HTTP_Request_API_Layer" path="/historical" method="GET" metadata:id="92056570-2df2-4f67-ad94-2a805d5fd795" doc:name="Gets start date">
                <http:request-builder>
                    <http:query-param paramName="access_key" value="${apilayer.access.key}"/>
                    <http:query-param paramName="date" value="#[flowVars.startDate]"/>
                </http:request-builder>
            </http:request>
        </enricher>
        <enricher target="#[flowVars.endDateResponse]" doc:name="Message Enricher">
            <http:request config-ref="HTTP_Request_API_Layer" path="/historical" method="GET" metadata:id="54062ec8-89e4-467d-bf9e-ab639c90d42e" doc:name="Gets end date">
                <http:request-builder>
                    <http:query-param paramName="access_key" value="${apilayer.access.key}"/>
                    <http:query-param paramName="date" value="#[flowVars.endDate]"/>
                </http:request-builder>
            </http:request>
        </enricher>
        <dw:transform-message metadata:id="b961d8e5-d200-4085-b484-a325a5e380d7" doc:name="Calculates Variation">
            <dw:input-variable doc:sample="json.json" variableName="endDateResponse"/>
            <dw:input-variable doc:sample="json_1.json" variableName="startDateResponse"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%var quoteStartUSDEUR=flowVars.startDateResponse.quotes.USDEUR
%var quoteEndUSDEUR=flowVars.endDateResponse.quotes.USDEUR
%var diffValues = quoteEndUSDEUR - quoteStartUSDEUR
%var variationResult = ((diffValues/quoteStartUSDEUR) * 100)[0..5]
---
{
  start_rate:quoteStartUSDEUR,
  end_rate:quoteEndUSDEUR,
  variation: variationResult
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="==== END: Coin API ====" level="INFO" doc:name="END"/>
        <exception-strategy ref="apiCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="themoviedb-api-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/themoviedb-api" doc:name="HTTP"/>
        <logger message="==== START: The Movie DB API  ====" level="INFO" doc:name="START"/>
        <http:request config-ref="HTTP_Request_TheMovieDB_API" path="/" method="GET" doc:name="Request - Popular Movies">
            <http:request-builder>
                <http:query-param paramName="api_key" value="${themoviedb.api.key}"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="Response to Object"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="#[json:results]" doc:name="Sets movie details"/>
        <dw:transform-message metadata:id="0d109001-891a-41ed-8858-25304d6ded01" doc:name="Returns movie specific fields">
            <dw:input-payload doc:sample="list_json.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map {
	title: $.title,
	original_language: $.original_language,
	release_date: $.release_date,
	poster_path: $.poster_path
}]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Returns ten popular movies">
            <dw:input-payload doc:sample="list_string.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
most_popular_movies: payload[0..9]]]></dw:set-payload>
        </dw:transform-message>

        <logger message="==== END: The Movie DB API  ====" level="INFO" doc:name="END"/>
        <exception-strategy ref="apiCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <catch-exception-strategy name="apiCatch_Exception_Strategy">
        <logger message="=== EXCEPTION ==== #[exception]" level="ERROR" doc:name="Log Exception"/>
        <set-payload value="ERROR while processing....Please contact your System Administrator." doc:name="Set Payload"/>
    </catch-exception-strategy>
</mule>
