mule-api-test/src/main/app/api_lastfm_get_artist_track.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="last.fm-api-Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/last.fm-api" doc:name="HTTP"/>
        <logger message="==== START: Last.FM API ====" level="INFO" doc:name="START"/>
        <choice doc:name="Choice">
            <when expression="">
                <http:request config-ref="HTTP_Request_Last_FM_API" path="/" method="GET" doc:name="Request - Track">
                    <http:request-builder>
                        <http:query-param paramName="method" value="${last.fm.track.method}"/>
                        <http:query-param paramName="api_key" value="${last.fm.api.key}"/>
                        <http:query-param paramName="artist" value="#[message.inboundProperties.'http.query.params'.artist]"/>
                        <http:query-param paramName="track" value="#[message.inboundProperties.'http.query.params'.track]"/>
                    </http:request-builder>
                </http:request>
            </when>
            <otherwise>
                <http:request config-ref="HTTP_Request_Last_FM_API" path="/" method="GET" doc:name="Request - Artist">
                    <http:request-builder>
                        <http:query-param paramName="method" value="${last.fm.artist.method}"/>
                        <http:query-param paramName="api_key" value="${last.fm.api.key}"/>
                        <http:query-param paramName="artist" value="#[message.inboundProperties.'http.query.params'.artist]"/>
                    </http:request-builder>
                </http:request>
            </otherwise>
        </choice>
        <logger message="==== END: Last.FM API ====" level="INFO" doc:name="END"/>
        <exception-strategy ref="apiCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
